body{
    display: block;

}

.titulo {
    
    z-index: 0;
}
.titulo{
    color: azure;
    text-align: center;
    background-image: url(assets/img/pizarron.jpg);
    height: 100px;
}

.EGIPTO {
    background-image: url("assets/img/egipto.jpg");
    background-color: black;
}

.Etimología-y-toponimia {

    background-image: url(assets/img/egipto2.jpg);
}