body{
    display: block;

}

.titulo {
    
    z-index: 0;
}


.titulo{
    font-weight: bold;
    font-size: 5em;
    font-family: fantasy;
    color: azure;
    text-align: center;
    align-content: center;
    background-image: url(assets/img/pizarron.jpg);
    height: 200px;
    margin: .2em;
    margin-block-start: 1em;
    border-radius: 3em;
    border-color: aqua;
    border-style: dotted;
    border-width: .2em;
    

}


.EGIPTO {
    background-image: url("assets/img/egipto.jpg");
    background-color: black;
}

.EGIPTO h2{
    font-size: 50px;
    text-align: center;
} 

.EGIPTO p{
    font-style: unset;
    font-size: 20px;
    color: azure;
}

.civilizacion {

    color: red;
    font-size: 2em;
}
.tierras {

    color: blue;
    text-decoration: underline;
}

.rio{
    color: green;
    text-decoration: underline overline;
}

.cultural{

    color: blueviolet;
}

.EGIPTO a:link{
   color: green;
}




.Etimología-y-toponimia{

    background-image: url(assets/img/egipto2.jpg);
    font-size: 50px;
    font-style: inherit;
}

.Etimología-y-toponimia h3{
   font-family: fantasy;
   text-align: center;
   color: aliceblue;
}
.Etimología-y-toponimia p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(22, 28, 48);

}

.AFRICA {

    background-image: url(assets/img/africa.jpg);
    
}
.AFRICA h4{

    text-align: center;
    font-size: 65px;
    color: blue;
    font-style: italic;
}

.AFRICA p{

    font-size: x-large;
    font-style: oblique;
    color: chartreuse;
}

.AFRICA h5{

    text-align: center;
    font-size: 50px;
    color: darkblue;
}

.AFRICA button{
    font-size: 25px;
    background-color: black;
 
}

nav{
    display: inline-block;
}